<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
>
  <php>
    <ini name="memory_limit" value="1G"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <source restrictNotices="false" restrictWarnings="false">
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
